/*html,
body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}
#map {
    height: 100%;
}
.container-fluid {
  height: 100%;
  position: relative;
}
.row {
    height:100%;
}
#side-panel{
    height:100%;
}*/
.container {
    display: grid;
}
nav {
    background: #01041c;
}
main {
    background: #a7f1e4;
}
#map {
    height: 100%;
}
h1{
    color: red;
}
ul{
    list-style-type: none;
}
#pano {
    width: 200px;
    height: 200px;
}
.search {
    padding: 5px;
}
@media only screen and (min-width: 600px) {
    .container {
        display: grid;
        grid-gap:0px;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows:100vh;
        grid-template-areas:

            "m m m m m c c c c c c c"
            ;


    }
    nav {
        grid-area: m;
    }
    main {
        grid-area: c;
    }
    .toggle {
      display: none;
    }
}
@media only screen and (max-width: 599px) {
    .container {
        display: grid;
        grid-gap:0px;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows:100vh;
        grid-template-areas:

            "m m m c c c c c c c c c"
            ;
    }
    nav {
        grid-area: m;
    }
    main {
        grid-area: c;
    }
    .closed {
      text-align: right;
      display: block;
      text-decoration: none;
      font-size: 3em;
      position: relative;
      top: -30px;
    }
}
