/*General CSS grid*/
.container {
    display: grid;
}
aside {
    background: #01041c;
    grid-area: a;
}
main {
    background: #a7f1e4;
    grid-area: m;
}
header {
    grid-area: h;
    background:  #01041c;
}
#map {
    height: auto;
}
h1{
    color: red;
}
ul{
    list-style-type: none;
}
#pano {
    width: 200px;
    height: 200px;
}
.search {
    padding: 5px;
}
/*big screen setup*/
@media only screen and (min-width: 600px) {
    .container {
        display: grid;
        grid-gap:0px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows:100vh;
        grid-template-areas:
            "a a m m";
        }
        header {
            display:none;
        }
        .toggle {
            display: none;
        }
}
/*Small screen setup*/
@media only screen and (max-width: 599px) {
    .container {
        display: grid;
        grid-gap:0px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows:50px 100vh;
        grid-template-areas:

            "h h h h"
            "m m m m"
            ;
    }
    #nav:target {
        transform: translateX(340px);
        }
    aside {
        position: fixed;
        top: 0;
        bottom: 0;
        z-index: 1;
        width: 300px;
        left: -340px;
        transition: transform .3s ease-in-out;
    }
    .closed {
        text-align: right;
        display: block;
        text-decoration: none;
        font-size: 3em;
        position: relative;
        top: -15px;
    }
}
