/*html,
body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}
#map {
    height: 100%;
}
.container-fluid {
  height: 100%;
  position: relative;
}
.row {
    height:100%;
}
#side-panel{
    height:100%;
}*/
.container {
    display: grid;
    grid-gap:10px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows:100vh;
    grid-template-areas:

        "m m m m m c c c c c c c"
        ;
    text-align: center;

}
aside {
    grid-area: m;
    background: #01041c;



}
main {
    grid-area: c;
    background: #a7f1e4;
}
#map {
    height: 100%;
}
h1{
    color: red;
}
ul{
    list-style-type: none;
}
